{% extends "base.html" %}

{% block content %}
    <h1>Get It Done!</h1>
    <form method='post'>
        <label>
            New Task:
            <input type="text" name='task' />
        </label>
        <input type="submit" value='Add Task' />
        {% if errorTask %}
        <h5 class="errorTask">{{errorTask}}</h5>
        {% endif %}
    </form>


    <hr />

    {% if tasks %}
    <ul>
        {% for task in tasks %}
        <h3><li>{{task}}</li></h3>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tasks yet</p>


    {% endif %}
{% endblock %}